/* Estilização básica do slider */
#volume-slider {
    width: 300px; /* Largura total do controle deslizante */
    height: 5px; /* Altura da barra do slider */
    background: rgba(70, 70, 70, 0.5); /* Cor de fundo da barra */
    border-radius: 5px; /* Bordas arredondadas para um visual mais suave */
    outline: none; /* Remove o contorno padrão ao clicar */
    appearance: none; /* Remove o estilo padrão do navegador */
    -webkit-appearance: none; /* Remove o estilo padrão no Chrome/Safari */
  }
  
  
  /* Estilização do "track" (a barra onde o slider se move) */
  #volume-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: rgba(70, 70, 70, 0.1); /* Cor de fundo da barra */
    border-radius: 5px;
    cursor: pointer;
  }
  
  #volume-slider:hover::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: rgba(70, 70, 70, 1); /* Cor de fundo da barra */
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  #volume-slider::-moz-range-track {
    width: 100%;
    height: 5px;
    background: rgb(70, 70, 70); /* Cor de fundo da barra */
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilização do "thumb" (o botão que o usuário arrasta) */
  #volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove o estilo padrão do thumb no Chrome/Safari */
    appearance: none;
    width: 10px; /* Largura do thumb */
    height: 10px; /* Altura do thumb */
    background: rgba(15, 140, 200, 0.3); /* Cor do thumb */
    border-radius: 50%; /* Formato circular */
    cursor: pointer;
    margin-top: -2.5px; /* Centraliza verticalmente o thumb na barra */
    
  }
  
  #volume-slider:hover::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove o estilo padrão do thumb no Chrome/Safari */
    appearance: none;
    width: 10px; /* Largura do thumb */
    height: 10px; /* Altura do thumb */
    background: rgb(15, 140, 200); /* Cor do thumb */
    border-radius: 50%; /* Formato circular */
    cursor: pointer;
    margin-top: -2.5px; /* Centraliza verticalmente o thumb na barra */
    
  }
  
  #volume-slider::-moz-range-thumb {
    width: 10px; /* Largura do thumb */
    height: 10px; /* Altura do thumb */
    background: rgb(15, 140, 200); /* Cor do thumb */
    border-radius: 50%; /* Formato circular */
    cursor: pointer;
    border: none; /* Remove borda padrão */
  }

  #progress-slider {
    width: 225px; /* Largura total do controle deslizante */
    height: 5px; /* Altura da barra do slider */
    background: rgba(70, 70, 70, 0.5); /* Cor de fundo da barra */
    border-radius: 5px; /* Bordas arredondadas para um visual mais suave */
    outline: none; /* Remove o contorno padrão ao clicar */
    appearance: none; /* Remove o estilo padrão do navegador */
    -webkit-appearance: none; /* Remove o estilo padrão no Chrome/Safari */
}

/* Estilização do "track" (a barra onde o slider se move) */
#progress-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: rgba(70, 70, 70, 0.4); /* Cor de fundo da barra */
    border-radius: 5px;
    cursor: pointer;
}

#progress-slider:hover::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: rgba(70, 70, 70, 1); /* Cor de fundo da barra */
    border-radius: 5px;
    cursor: pointer;
}

#progress-slider::-moz-range-track {
    width: 100%;
    height: 5px;
    background: rgba(70, 70, 70, 1); /* Cor de fundo da barra */
    border-radius: 5px;
    cursor: pointer;
}

/* Estilização do "thumb" (o botão que o usuário arrasta) */
#progress-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove o estilo padrão do thumb no Chrome/Safari */
    appearance: none;
    width: 10px; /* Largura do thumb */
    height: 10px; /* Altura do thumb */
    background:rgba(15, 140, 200, 0.5); /* Cor do thumb */
    border-radius: 50%; /* Formato circular */
    cursor: pointer;
    margin-top: -2.5px; /* Centraliza verticalmente o thumb na barra */
}

#progress-slider:hover::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove o estilo padrão do thumb no Chrome/Safari */
    appearance: none;
    width: 10px; /* Largura do thumb */
    height: 10px; /* Altura do thumb */
    background:rgba(15, 140, 200, 1); /* Cor do thumb */
    border-radius: 50%; /* Formato circular */
    cursor: pointer;
    margin-top: -2.5px; /* Centraliza verticalmente o thumb na barra */
}

#progress-slider::-moz-range-thumb {
    width: 10px; /* Largura do thumb */
    height: 10px; /* Altura do thumb */
    background: rgb(15, 140, 200); /* Cor do thumb */
    border-radius: 50%; /* Formato circular */
    cursor: pointer;
    border: none; /* Remove borda padrão */
}

#progress-slider {
    position: absolute;
    bottom: 40px; /* Ajusta a posição vertical */
    left: 160px;
    transform: translateX(-50%);
    width: 90%; /* Garante que o slider ocupe toda a largura disponível */
}

#volume-slider {
    position: absolute;
    bottom: 10px; /* Ajusta a posição vertical */
    left: 134px;
    transform: translateX(-50%);
    width: 87%; 
}

#volumeIcon {
  position: absolute;
    bottom: 5px; /* Ajusta a posição vertical */
    left: 284px;
    transform: translateX(-50%);
    color: rgba(140, 140, 140, 1);

}

